<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Etablissement</h1>

    <%= render 'form', etablissement: @etablissement %>

    <%= link_to 'Show', @etablissement %> |
    <%= link_to 'Back', etablissements_path %>
</main>