<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Classe</h1>

    <%= render 'form', clase: @clase %>

    <%= link_to 'Show', @clase %> |
    <%= link_to 'Back', clases_path %>
</main>