<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>New Administrative</h1>

    <%= render 'form', administrative: @administrative %>

    <%= link_to 'Back', administratives_path %>
</main>