<div class="container-fluid">
  <div class="row">
    <%# if !current_user.is_a?(GuestUser) %>
      <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <%= nav_H 'nav-link', 'span' %>
        </li>
        
        <li class="nav-item">
          <span class="btn btn-light nav-link" 
                  type="" 
                  data-toggle="collapse" 
                  data-target="#config" 
                  aria-expanded="false" 
                  aria-controller="config" >
            Referentiels
          </span>

        </li>

        <div class="collapse" id="config">
              <div style="background-color: white;" >
                <%= nav_helper 'nav-link', 'span' %>
              </div>
          </div>

        <!--li class="nav-item">
          <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="#">Reports</a>

        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Analytics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Export</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Nav item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nav item again</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">One more nav</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Another nav item</a>
        </li>
      </ul>

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Nav item again</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">One more nav</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Another nav item</a>
        </li>
      </ul-->
    </nav>
    <%# end %>