<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Class</h1>

    <%= render 'form', class: @class %>

    <%= link_to 'Show', @class %> |
    <%= link_to 'Back', classes_path %>
</main>