<h1>Editing Sous Service Etablsmt</h1>

<%= render 'form', sous_service_etablsmt: @sous_service_etablsmt %>

<%= link_to 'Show', @sous_service_etablsmt %> |
<%= link_to 'Back', sous_service_etablsmts_path %>
