<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Corp</h1>

    <%= render 'form', corp: @corp %>

    <%= link_to 'Show', @corp %> |
    <%= link_to 'Back', corps_path %>
</main>