<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Echellon</h1>

    <%= render 'form', echellon: @echellon %>

    <%= link_to 'Show', @echellon %> |
    <%= link_to 'Back', echellons_path %>
</main>