<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editing Typeservice</h1>

    <%= render 'form', typeservice: @typeservice %>

    <%= link_to 'Show', @typeservice %> |
    <%= link_to 'Back', typeservices_path %>
</main>