<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Editing Banque</h1>

    <%= render 'form', banque: @banque %>

    <%= link_to 'Show', @banque %> |
    <%= link_to 'Back', banques_path %>

</main>