<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <h1>Editer Region</h1>

    <%= render 'form', region: @region %>

    <%= link_to 'Show', @region %> |
    <%= link_to 'Back', regions_path %>
</main>