<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
      <h1>Editing Mode Paiement</h1>

    <%= render 'form', mode_paiement: @mode_paiement %>

    <%= link_to 'Show', @mode_paiement %> |
    <%= link_to 'Back', mode_paiements_path %>

</main>