<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mode_paiement.name %>
</p>

<%= link_to 'Edit', edit_mode_paiement_path(@mode_paiement) %> |
<%= link_to 'Back', mode_paiements_path %>
